.supplier-page{

    display:flex;

    flex-direction:column;

    gap:24px;

}

.supplier-content{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.supplier-footer{

    display:flex;

    justify-content:center;

    margin-top:20px;

}

.supplier-form{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.supplier-form-buttons{

    display:flex;

    justify-content:flex-end;

    gap:12px;

}